# Repository
.env

# IDE
.vscode

# Python
*__pycache__
*.pyc
*.egg-info
venv/

# JETTO images and data
jetto/templates/*
jetto/images/*
2023-*
data/*/bayesopt/*
data/*/initialisation/*
data/benchmark/*
data/genetic_algorithm/*